<div class="span-24 last">
  <div class='span-15'>
    <%= form_for(@transfer_order) do |f| %>
      <% if @transfer_order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@transfer_order.errors.count, "error") %> prohibited this title from being saved:</h2>

          <ul>
          <% @transfer_order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <table class='no-zebra'>
        <tr><td style='width:20%'><%= f.label :to_date %></td><td><%= @transfer_order.to_date %> </td></tr>
        <tr><td><%= f.label :to_number %></td><td><%= @transfer_order.to_number %> </td></tr>
        <tr><td><%= f.label :to_item %></td><td><%= @transfer_order.to_item %> </td></tr>
        <tr><td><%= f.label :movement_type %></td><td><%= @transfer_order.movement_type %> </td></tr>
        <tr><td><%= f.label :material_code %></td><td><%= @transfer_order.material_code %> </td></tr>
        <tr><td><%= f.label :storage_bin %></td><td><%= @transfer_order.storage_bin %> </td></tr>
        <tr><td><%= f.label :required_quantity %></td><td><%= @transfer_order.required_quantity %> </td></tr>
        <tr><td><%= f.label :picked_quantity %></td><td><%= f.text_field :picked_quantity %> </td></tr>
      </table>
       
       <%= f.submit %>
    <% end -%>
  </div>  
</div>