<% content_for :javascript_includes do %>
  <%= javascript_include_tag "transliterate.js" %>
<% end %>

<div class="span-24 last">
  <% if @noisbntitle.title_id.nil? -%>
    <h4>
      You are creating a new title. Proceed only if you know this is a title that does not exist in our collection.
      Do not create a duplicate title, and if you are unsure, do not proceed.
    </h4>
  <% end -%>
</div>

<div class="span-24 last">
  <div class='span-20'>
    <%= form_for(@noisbntitle, :html => { :multipart => true }) do |f| %>
      <% if @noisbntitle.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@noisbntitle.errors.count, "error") %> prohibited this title from being saved:</h2>

          <ul>
          <% @noisbntitle.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    

      <table class='no-zebra'>
        <tr>
          <th style='width:15%'></th>
          <th>AMS</th>
          <th>Legacy</th>
        </tr>
        <tr>
          <th>Title Id</th>
          <td><%= @noisbntitle.title_id %><%= f.hidden_field :title_id %></td>
          <td><%= @noisbntitle.jbtitle.try(:id) %></td>
        </tr>
        <tr>
          <th>Title</th>
          <td><%= f.text_field :title, :size => 50 %></td>
          <td><%= @noisbntitle.jbtitle.try(:title) %></td>
        </tr>
        <tr>
          <th>Language</th>
          <td><%= f.select :language, Language.all.collect {|p| ["#{p.short_name}:#{p.name}",p.name] } %></td>
          <td><%= @noisbntitle.jbtitle.try(:language) %></td>
        </tr>
        <tr>
          <th>Author</th>
          <td><%= f.text_field :author, :size => 50 %></td>
          <td><%= @noisbntitle.jbtitle.try(:author).try(:name) %></td>
        </tr>
        <tr>
          <th>Category</th>
          <td><%= f.select :category_id, Category.all.collect {|p| [p.division + '-' + p.name, p.id]} %></td>
          <td><%= @noisbntitle.jbtitle.try(:category).try(:division) %> > <%= @noisbntitle.jbtitle.try(:category).try(:name) %></td>
        </tr>
        <tr>
          <th>Publisher</th>
          <td><%= f.select :publisher_id, Publisher.all.collect {|p| [p.name, p.id]}.sort %></td>
          <td><%= @noisbntitle.jbtitle.try(:publisher).try(:name) || "?" %></td>
        </tr>
        <tr>
          <th>List Price</th>
          <td><%= f.select :currency, Currency.all.collect {|p| [p.code,p.code] }, :prompt => '' %><%= f.number_field :listprice, :min => 1, :max => 100000, :step => 0.01 %></td>
          <td><%= @noisbntitle.jbtitle.try(:mrp) %></td>
        </tr>
        <tr>
          <th>Pub Year</th>
          <td><%= f.number_field :pub_year, :min => 1900, :max => 2050 %></td>
          <td><%= @noisbntitle.pub_year %></td>
        </tr>
        <tr>
          <th>Pages</th>
          <td><%= f.number_field :page_cnt, :min => 1, :max => 10000 %></td>
          <td><%= @noisbntitle.page_cnt %></td>
        </tr>
        <tr>
          <th>Format</th>
          <td><%= f.select :format, Format.all.collect {|p| [p.name,p.name] } %></td>
          <td><%= @noisbntitle.format %></td>
        </tr>
        <tr>
          <th>Title In Indian Script</th>
          <td><%= f.text_field :t_title, :size => 100, :class => :indiscript %></td>
          <td></td>
        </tr>
        <tr>
          <th>Author In Indian Script</th>
          <td><%= f.text_field :t_author, :size => 100, :class => :indiscript %></td>
          <td></td>
        </tr>
        <tr>
          <th>Image?</th>
          <td>
            <%= image_tag(@noisbntitle.cover.url, :size => "75x100") %><br/>
            <%= f.file_field :cover, :accept => 'image/jpeg' %>
          </td>
          <td>
          </td>
        </tr>        
        <tr>
          <th>Last Changed</th>
          <td><%= @noisbntitle.updated_at %></td>
          <td></td>
        </tr>
        <tr>
          <th>User</th>
          <td></td>
          <td></td>
        </tr>
      </table>

      <div class="actions">
        <% if @noisbntitle.title_id.nil? %>
          <%= f.label :secret_key %><%= f.password_field :secret_key %>
        <% end -%>
        <%= f.submit %>
      </div>
    <% end %>      
  </div>  
</div>