<% content_for :javascript_includes do %>
  <%= javascript_include_tag "outbound_deliveries.js" %>
<% end %>

<div class='span-24 last'>
  <%= button_to_function 'Start Process', 'start_outbound_delivery_creation();' %>
  <%= button_to_function 'Stop Process', 'stop_outbound_delivery_creation();' %>
  <%= check_box_tag 'process_status', 1, false, :disabled => true %>
  <table>
      <tr>
        <% OutboundDelivery::FILE_COLUMNS.keys.each do |k| -%>
          <th><%= k %></th>
        <% end -%>
      </tr>
    <% @rows.each_with_index do |row,i| -%>
      <tr>
          <td><%= row[OutboundDelivery::FILE_COLUMNS[:srl]] %></td>
          <td><%= row[OutboundDelivery::FILE_COLUMNS[:material]] %></td>
          <td><%= row[OutboundDelivery::FILE_COLUMNS[:serial]] %></td>
          <td><%= row[OutboundDelivery::FILE_COLUMNS[:plant]] %></td>
          <td><%= encode_string(row[OutboundDelivery::FILE_COLUMNS[:plant_name]]) %></td>
          <td><%= row[OutboundDelivery::FILE_COLUMNS[:sto]] %></td>
          <td><%= row[OutboundDelivery::FILE_COLUMNS[:delivery]] %></td>
          <td><%= row[OutboundDelivery::FILE_COLUMNS[:date]] %></td>
          <td><%= row[OutboundDelivery::FILE_COLUMNS[:bin]] %></td>                    
          <td>
            <%= form_tag outbound_deliveries_path, :id => "odf_#{i}", :class => 'odf', :method => :post, :remote => true do  -%>
              <%= hidden_field_tag 'outbound_delivery_id', i %>
              <%= hidden_field_tag 'delivery_no', row[OutboundDelivery::FILE_COLUMNS[:delivery]] %>
              <%= hidden_field_tag 'sto_no', row[OutboundDelivery::FILE_COLUMNS[:sto]] %>
              <%= hidden_field_tag 'destination_plant', row[OutboundDelivery::FILE_COLUMNS[:plant]] %>
              <%= hidden_field_tag 'material_code', row[OutboundDelivery::FILE_COLUMNS[:material]] %>
              <%= hidden_field_tag 'book_no', row[OutboundDelivery::FILE_COLUMNS[:serial]] %>
              <%= tag(:div, :class => 'errors')%>
              <%= submit_tag 'Submit', :name => nil, :hidden => true %>
            <% end -%>
          </td>
      </tr>
    <% end -%>
  <table>
</div>